* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: #7ba7d5;
}

.font_standardValue {
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    color: #ffffff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.881), 0px -1px 0px rgba(0, 0, 0, 0.881), 1px 0px 0px rgba(0, 0, 0, 0.881), -1px 0px 0px rgba(0, 0, 0, 0.881);
}

.material-symbols-outlined {
    color: #ffffff;
    background: #000000;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.881), 0px -1px 0px rgba(0, 0, 0, 0.881), 1px 0px 0px rgba(0, 0, 0, 0.881), -1px 0px 0px rgba(0, 0, 0, 0.881);
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.fa {
    color: #ffffff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.881), 0px -1px 0px rgba(0, 0, 0, 0.881), 1px 0px 0px rgba(0, 0, 0, 0.881), -1px 0px 0px rgba(0, 0, 0, 0.881);
}

.homeBtn_style {
    font-size: 27px;
    font-weight: bold;
    padding: 3px;
}

.navBtn_text {
    font-size: 14px;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
}

.introText_style {
    font-size: 20px;
    font-size: 25px;
}

.grid_container {
    display: grid;
}

.flex_container {
    display: flex;
}

.block_container {
    display: block;
}

.body_section {
    grid-template-areas:
        'header'
        'main'
        'footer'
    ;
    grid-template-rows: auto 1fr 110px;
}

.header_section {
    grid-area: header;
    background-image: url(imgContent/headerLogo_without_text.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 44.8%;
    justify-content: space-between;
    border-bottom: solid 2px #ffffff;
    padding: 45px;
}

.navigation_container {
    padding: 5px;
    margin: 5px;
    flex-direction: column;
    gap: 16px;
}

.nav_section {
    gap: 5%;
    opacity: 0;
    /*padding-left: 25px;*/
    z-index: 1;
    transition: opacity 1s ease-in-out;
}

.toggle_dropDown {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.btn_primary,
.btn_secondary {
    align-items: center;
    justify-content: center;
    border: none;
    gap: 10px;
}

.btnHome_style {
    /*position: absolute;*/
    max-width: 170px;
    padding: 13px;
    /*left: 50px;*/
    background-color: rgba(62, 143, 170, 0.387);
    border: solid 1px white;
    box-shadow: 2px 0px 9px 2px rgba(0, 0, 0, 0.7), 2px -1px 18px 4px rgba(0, 0, 0, 0.7);
}

.btnHome_style:hover {
    background-color: rgba(152, 61, 169, 0.393);
    transform: scale(1.03);
}

.btnHome_style:active {
    transform: scale(0.97);
}

.btnStyle_dropdownBtn {
    max-width: 100%;
    gap: 12%;
    padding: 5px;
    background-color: #00000088;
    border: solid 1px #ffffffe3;
    box-shadow: 2px 0px 9px 2px rgba(0, 0, 0, 0.7), 2px -1px 18px 4px rgba(0, 0, 0, 0.7);
}

.btnStyle_dropdownBtn:hover {
    transform: scale(1.05);
    background-color: #0000001f;
}

.btnStyle_dropdownBtn:active {
    transform: scale(0.9);
}

.img_header_section {
    position: absolute;
    top: 5%;
    right: 5%;
    max-height: 25%;
    max-width: 30%;
    scale: 1.20;
    z-index: 2;
}

.img_logoHeader_style {
    border-radius: 50%;
    border: inset 3px rgb(100 112 177 / 68%);
    box-shadow: 6px 5px 2px 0px #000000c7, 3px 3px 12px 3px #ffffff, 6px -4px 15px 1px #8e455c, 3px 2px 14px 9px rgb(189 90 123 / 79%), -8px 0px 0px 0px #000000, -4px -2px 7px 2px #613c3c6e, 4px 3px 11px 4px #fafafa, 2px 3px 16px 13px rgb(0 0 0 / 85%);
}

.main_section {
    grid-area: main;
    flex-direction: column;
    background-image: url(imgContent/mainLogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    /*aspect-ratio: 1/1;*/
    /*min-height: 100%;*/
}

.display_sectionMain {
    background-color: #00000027;
    padding: 100px;
    margin: 10px;
    max-height: 100%;
}

.paragraph_mainStyle {
    text-align: justify;
    flex-direction: column;
    background-color: #f0f8ff4a;
    border: solid 2px #00000059;
    height: 100%;
    /*max-height: 80%;*/
    opacity: 1;
    transition: opacity 1.2s ease-in-out;
    overflow-y: auto;
    padding: 23px;
    margin: 1px;
    justify-content: center;
    /*box-shadow: 6px 5px 2px 0px #000000c7, 3px 3px 12px 3px #ffffff, 7px 6px 15px 4px #8e455c, 3px 2px 14px 9px rgb(189 90 123 / 79%), 1px 1px 7px 0px #000000b5, -4px -2px 7px 2px #613c3c6e, 4px 3px 11px 4px #fafafa, 2px 3px 16px 13px rgb(0 0 0 / 85%);*/
}

.is-hidden {
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

.display_sectionLeft {
    border-right: solid 2px #ffffff;
    padding: 120px;
    background-color: #f09cec7d;
}

.display_sectionCenter {
    flex-direction: column;
   /* min-width: 66%;
    max-height: 93%;*/
    justify-content: center;
    margin: 2%;
    padding: 12px;
    width: 100%;
    height: 80%;
    /*justify-content: center;
    align-items: center;*/
}

.display_sectionRight {
    border-left: solid 2px #ffffff;
    max-width: 13%;
    background-color: #f09cec7d;
}

.contact_box_mainSection {
    position: fixed;
    left: 45%;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%;
    background-color: #000000;
    border: solid 3px #00000033;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.contact_img_style {
    border-right: solid 2px rgba(255, 255, 255, 0.515);
    border-right: solid 2px rgba(255, 255, 255, 0.515);
    border-left: solid 2px rgba(255, 255, 255, 0.515);
    background-color: black;

}

.contactActive {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.contact_nameBox {
    flex-direction: column;
    gap: 15px;
}

.contact_name_box_style {
    border: none;
}

.contact_imgChild_box {
    background-color: #000000b5;
    justify-content: center;
}

.contact_headerBox {
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-height: 140px;
    max-width: 90%;
    border-bottom: solid 2px #ffffff;
}

.flipCard_parent {
    perspective: 1000px;
    flex-direction: column;
    max-width: 90%;
}

.flipCard_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipCard_parent:hover .flipCard_inner {
    transform: rotateY(180deg);
}

.contact_flipCardFront_textBox,
.contact_flipCardBack_textBox {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    flex-direction: column;
}

.contact_flipCardBack_textBox {
    transform: rotateY(180deg);
    align-items: center;
    justify-content: space-between;
}

.fa-instagram:hover,
.fa-github-square:hover {
    color: rgba(0, 0, 255, 0.324);
}

.emailContact,
.anchorEmailContact {
    justify-content: center;
    max-height: 80px;
    max-width: 85%;
    align-items: center;
    gap: 20px;
}

.contact_paragraphBox {
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer_section {
    grid-area: footer;
    background-image: url(imgContent/headerLogo_without_text.jpeg);
    background-position: center 45%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}

.footer_btn_section {
    align-items: center;
    flex-direction: column;
    justify-content: end;
    padding: 15px;
}

.contactBtnStyle {
    position: relative;
    bottom: 8%;
    /* left: 1%; */
    max-width: 65%;
    max-height: 8%;
    /* justify-content: space-between; */
    border-radius: 40px;
    gap: 27%;
    background-color: rgba(211, 193, 251, 0.609);
    border: #ffffff 2px solid;
    z-index: 1;
}

.contact_btn_imgStyle {
    max-height: 100%;
    max-width: 100%;
    aspect-ratio: 1.1 / 1.1;
    scale: 2.29;
    border-radius: 50%;
    border: solid 1px #ffffffb0;
    z-index: 1;
}