@media screen and (max-width: 768px) {

    .body_section {
        grid-template-areas:
            'header'
            'main'
            'footer'
        ;
        grid-template-rows: 140px 1fr auto;
        grid-template-columns: 1fr;
    }

    .btn_primary {
        margin: 3.1em;
        padding: 1.1em;
    }

    .secondaryBtn {
        left: 0;
    }

    .header_section {
        justify-content: space-between;
        flex-direction: row-reverse;
        min-width: 100%;
        background: #00000082;
    }

    .img_header_section {
        height: 113px;
        padding: 1.4em;
    }

    .navigation_section {
        position: relative;
        top: 7.1em;
        padding: 0.2em;
        margin: 0.2em;
        flex-direction: column;
        /* gap: 25px; */
    }

    .main_section {
        grid-template-areas: 'displaySection' 'sideBarRight';
        grid-template-rows: 1fr minmax(75px, 90px);
        grid-template-columns: none;
    }

    .mainView_style {
        grid-area: displaySection;
        background-color: #0000006f;
    }

    .about_section,
    .portfolioSection {
        padding: 0.2em;
        margin: 0.3em;
        flex-direction: column;
    }

    .about_h1_style {
        padding: 0.8em;
    }

    .about_boxOne,
    .photoPortfolio_section {
        margin: 0.5em;
        padding: 0.1em;
    }

    .paraAbout_section {
        padding: 0.3em;
        margin: 0.4em;
        gap: 0.9em;
    }

    .spanAboutStyle {
        font-size: 1rem;
    }

    .lastAboutBoxOne {
        padding-bottom: 0.1em;
        margin-bottom: 0.1em;
    }

    .footerAnchorList {
        align-items: center;
        flex-direction: column;
        padding-top: 0em;
        margin-top: 0em;
        gap: 0.3em;
    }

    .anchor_footerAbout {
        font-size: 1.1rem;
        padding: 0.1em;
        margin: 0.5em;
        text-align: center;
    }
    
    .portfolio_h1_style,
    .headerPortfolio {
        text-align: center;
    }

    .portfolio_para {
        margin: 0.1em;
        padding: 0.4em;
        gap: 0.4em;
    }

    .photoGalery {
        flex-direction: column;
        margin: 0.3em;
        padding: 0.3em;
    }

    .collapsibleBtn {
        padding: 0.2em;
        margin: 0.2em;
    }
    
    .galaryBoxCollapsible {
        flex-direction: column;
        margin: 0.3em;
        padding: 0.3em;
    }
    
    .galleryTextBox {
        padding: 0.3em;
        margin: 0.3em;
        gap: 0.2em;
    }
    
    .gallaryText_h2 {
        font-size: 1.2rem;
    }

    .sideBarRight {
        grid-area: sideBarRight;
        align-items: center;
        flex-direction: row;
        border-top: solid 2px #2d24246e;
        overflow: hidden;
    }

    .imgBox {
        position: relative;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        overflow-x: auto;
    }

    .imgSideRest {
        animation-name: slideAnimation;
        animation-duration: 18s;
        animation-timing-function: linear;
        animation-delay: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes slideAnimation {
        0% {
            left: 0%;
        }

        25% {
            left: 25%;
        }

        50% {
            left: 50%;
        }

        75% {
            left: 75%;
        }

        100% {
            left: 100%;
        }

        75% {
            left: 75%;
        }

        50% {
            left: 50%;
        }

        25% {
            left: 25%;
        }
    }

    .footer_section {
        justify-content: center;
        max-height: 100px;
    }

    .footerIcon_box {
        gap: 20px;
    }

    .anchor_settings {
        cursor: pointer;
    }

}