@media screen and (max-width: 768px) {

    .body_section {
        grid-template-areas:
            'header'
            'main'
            'footer'
        ;
        grid-template-rows: 140px 1fr auto;
        grid-template-columns: 1fr;
    }

    .btn_primary {
        margin: 5.1em;
        padding: 0;
    }

    .secondaryBtn {
        margin: 0;
        margin-left: 1em;
    }

    .header_section {
        justify-content: space-between;
        flex-direction: row-reverse;
        min-width: 100%;
        background: #00000082;
    }

    .img_header_section {
        height: 113px;
        padding: 1.4em;
    }

    .navigation_section {
        position: relative;
        top: 7.1em;
        padding: 0.2em;
        margin: 0.2em;
        flex-direction: column;
        /* gap: 25px; */
    }

    .openNav {
        background: #4e3a3a;
    }

    .main_section {
        grid-template-areas: 'displaySection' 'sideBarRight';
        grid-template-rows: 1fr minmax(75px, 90px);
        grid-template-columns: none;
        z-index: 1;
    }

    .mainView_style {
        padding: 0.4em;
    }

    .about_section,
    .portfolioSection {
        padding: 0.2em;
        margin: 0.3em;
        flex-direction: column;
    }

    .header_aboutSection {
        height: 6dvh;
        padding: 0.9em;
    }

    .header_collapsible {
        flex-direction: column;
        padding: 0.3em;
        margin: 0.3em;

    }

    .h2CollapsibleFontStyle {
        font-size: 0.9rem;
    }

    .about_h1_style {
        padding: 0.4em;
        margin: 0;
        font-size: 1.4rem;
    }

    .about_h2_style {
        font-size: 1.14rem;
    }

    .about_boxOne {
        flex-direction: column;
    }

    .header_aboutOneSection {
        padding: 0;
        margin: 0;
    }

    .photoPortfolio_section {
        margin: 0.5em;
        padding: 0.1em;
    }

    .paraAbout_section {
        height: 300px;
        overflow-y: auto;
        padding: 0.6em;
        margin: 0.8em;
        gap: 0.9em;
    }

    .spanAboutStyle {
        font-size: 1rem;
    }

    .lastAboutBoxOne {
        padding-bottom: 0.1em;
        margin-bottom: 0.1em;
    }

    .footerAnchorList {
        align-items: center;
        flex-direction: column;
        padding-top: 0em;
        margin-top: 0em;
        gap: 0.3em;
    }

    .anchor_footerAbout {
        font-size: 1.1rem;
        padding: 0.1em;
        margin: 0.5em;
        text-align: center;
        border: none;
    }

    /*Portfolio_container*/

    .portfolio_h1_style,
    .headerPortfolio {
        text-align: center;
        padding: 0.2em;
        margin: 0.3em;
    }

    .portfolio_para {
        margin: 0.3em;
        padding: 0.4em;
        gap: 0.4em;
        margin-top: 0.4em;
        padding-top: 0.8em;
        padding-bottom: 0.8em;

    }

    .photoGalery {
        flex-direction: column;
        margin: 0.3em;
        padding: 0.3em;
    }

    .parentCollapsBtn {
        font-size: 0.75rem;
        gap: 2em;
    }

    .collapsibleBtn {
        font-size: 0.875rem;
        padding: 0.2em;
        margin: 0.2em;
    }

    .galleryBoxCollapsible {
        flex-direction: column;
        margin: 0.3em;
        padding: 0.3em;
    }

    .galleryTextBox {
        height: 300px;
        padding: 0.3em;
        margin: 0.3em;
        gap: 0.2em;
    }

    .galleryText_h2 {
        font-size: 1.2rem;
    }

    /*Portfolio_img*/

    .imgContainer {
        flex-direction: row;
        width: 300px;
        padding: 0;
        margin: 0;
        margin-left: 0;
    }

    .portfolioImg {
        height: 220px;
        flex: 0 0 99%;
        margin: 0.7em;
    }

    .sideBarRight {
        grid-area: sideBarRight;
        gap: 1.1em;
        align-items: center;
        flex-direction: row;
        border-top: solid 2px #2d24246e;
        overflow: hidden;
    }

    .imgBox {
        position: relative;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        overflow-x: auto;
    }

    .imgSideRest {
        animation-name: slideAnimation;
        animation-duration: 18s;
        animation-timing-function: linear;
        animation-delay: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes slideAnimation {
        0% {
            left: 0%;
        }

        25% {
            left: 25%;
        }

        50% {
            left: 50%;
        }

        75% {
            left: 75%;
        }

        100% {
            left: 100%;
        }

        75% {
            left: 75%;
        }

        50% {
            left: 50%;
        }

        25% {
            left: 25%;
        }
    }

    .footer_section {
        justify-content: center;
        max-height: 100px;
    }

    .footerIcon_box {
        gap: 0.7em;
    }

    .document_guide {
        padding-right: 1em;
    }

    .anchor_settings {
        cursor: pointer;
    }

    .mailStyle,
    .fa {
        font-size: 2rem;
    }

    .mainChildOne {
        flex-direction: column;
        margin: 0;
        gap: 1.3em;
        max-width: 80dvw;
    }

    .repair_elektrik {
        margin: 0;
        padding: 0;
        border-bottom: solid 1px #c0c0c0b0;
    }

    .paraPortfolio_text {
        flex-direction: column;
        gap: 1.2em;
        max-width: 80dvw;
        padding: 1em;
        margin: 1em;
    }

    .img_container_row {
        flex-direction: row;
        justify-content: center;
        justify-self: center;
        height: 520px;
        max-width: 80dvw;
        border: solid 2px #000000bf;
        overflow-y: auto;
        gap: 0.7em;
        padding: 0.7em;
    }

    .img_container_column {
        flex: 20%;
        max-width: 26%;
        flex-direction: column;
        padding: 0 4px;
        gap: 0.19em;
    }

    .img_column {
        margin-top: 0.1em;
        width: 16dvw;
        vertical-align: middle;
    }

}