@media screen and (max-width: 768px) {

    .homeBtn_style {
        font-size: 14px;
        font-weight: bold;
    }

    .navBtn_text {
        font-size: 12px;
        font-weight: bold;
        padding-left: 12px;
        padding-right: 12px;
    }

    .contact_h1_text {
        font-size: 17px;
    }

    .contact_h2_text {
        font-size: 14px;
    }

    .body_section {
        grid-template-rows: auto 1fr auto;
        overflow-y: auto;
        height: 100%;
    }

    .header_section {
        padding: 0px;
    }

    .navigation_container {
        padding: 15px;
        margin: 6px;
        flex-direction: column;
        gap: 11px;
    }

    .nav_section {
        z-index: 2;
        flex-direction: column;
        /* padding-left: 25px; */
        gap: 5%;
    }

    .btnHome_style {
        max-width: 100px;
        max-height: 40px;
    }

    .btnStyle_dropdownBtn {
        max-width: 130px;
        background-color: #00000088;
        border: solid 1px #ffffffe3;
        box-shadow: 2px 0px 9px 2px rgba(0, 0, 0, 0.7), 2px -1px 18px 4px rgba(0, 0, 0, 0.7);
    }

    .img_header_section {
        top: 14.3%;
        right: 0%;
        z-index: 2;
        aspect-ratio: 1 / 1;
        transform: translate(-30%, -49%);
    }

    .main_section {
        overflow: visible;
        min-height: 100%;
    }

    .display_sectionMain {
        background-color: #00000027;
        flex-direction: column;
        overflow: hidden;
        padding: 0;
        margin: 0;
        border: none;
    }

    .display_sectionLeft {
        border-bottom: solid 2px #ffffff;
        border-right: none;
        padding: 15px;
        background-color: #f09cec7d;
    }

    .display_sectionCenter {
        flex-direction: column;
        justify-content: center;
        width: auto;
        padding: 10px;
        margin: 13px;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }

    .paragraph_mainStyle {
        flex-direction: column;
        gap: 8px;
        text-align: left;
        background-color: #f0f8ff4a;
        border: solid 2px #00000059;
        opacity: 1;
        transition: opacity 1.2s ease-in-out;
        overflow-y: auto;
        min-height: 70%;
        padding: 7px;
        box-shadow: none;
        justify-content: normal;
    }

    .introText_style {
        font-size: 15px;
    }

    .display_sectionRight {
        border-top: solid 2px #ffffff;
        border-left: none;
        padding: 15px;
        background-color: #f09cec7d;
    }

    .contact_box_mainSection {
        position: fixed;
        top: 49%;
        left: 49%;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        overflow-y: scroll;
        padding: 40px;
    }

    .contact_imgChild_box {
        background-color: #373a43b5;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    .contact_img_style {
        scale: 1;
        background-color: black;
        margin: 0;
        padding: 0;
    }

    .contact_headerBox {
        justify-content: center;
        align-items: center;
        gap: 5px;
        max-height: 140px;
        max-width: 90%;
        border-bottom: solid 2px #ffffff;
    }

    .contact_nameBox {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        min-width: 0;
    }

    .contact_headerBox {
        flex-direction: column;
        max-height: 40%;
    }

    .flipCard_parent {
        perspective: 1000px;
        flex-direction: column;
        max-width: 90%;
    }

    .flipCard_inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .flipCard_parent:hover .flipCard_inner {
        transform: rotateY(180deg);
    }

    .contact_flipCardFront_textBox,
    .contact_flipCardBack_textBox {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        flex-direction: column;
    }

    .contact_flipCardBack_textBox {
        transform: rotateY(180deg);
        align-items: center;
        justify-content: space-between;
    }

    .fa-instagram:hover,
    .fa-github-square:hover {
        color: rgba(0, 0, 255, 0.324);
    }

    .emailContact,
    .anchorEmailContact {
        justify-content: center;
        max-height: 80px;
        max-width: 85%;
        align-items: center;
        gap: 20px;
    }

    .contact_paragraphBox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 10px;
        margin: 0;
    }

    .contactText {
        letter-spacing: 0;
        font-size: 13px;
        font-weight: unset;
    }

    .contactTextStyle {
        padding: 0;
        margin: 0;
    }

    .footer_section {
        padding: 3px;
        justify-content: center;
    }

    .footer_btn_section {
        flex-direction: column;
        justify-content: center;
    }

    .contactBtnStyle {
        position: unset;
        min-width: 230px;
        padding: 10px;
        /* justify-content: space-between; */
        border-radius: 40px;
        gap: 60px;
    }
    
    .contact_btn_imgStyle {
        max-width: 35px;
        max-height: 50px;
    }

}