/* @media_screen_css*/

@media screen and (max-width: 768px) {
    .introText_style {
        font-size: 15px;
    }

    .fa {
        color: rgb(115 243 243);
        font-size: 40px;
        background-clip: text;
        text-shadow: 0px 1px 1px rgb(255 255 255 / 35%);
        margin: 15px;
    }

    .navBtn_text {
        font-size: 10px;
        color: #000000;
    }

    .body_section {
        min-width: 100%;
        width: 100%;
        grid-template-rows: 85px 1fr 95px;
        gap: 8px;
    }

    .header_section {
        background-position: center;
        min-height: 100px;
        max-height: none;
    }

    .btnHome_style {
        max-width: 100px;
        max-height: 40px;
        /*top: 30px;*/
        /*left: 25px;*/
        margin-left: 20px;
        margin-bottom: 15px;
        box-shadow: 2px 0px 9px 2px rgba(0, 0, 0, 0.7), 2px -1px 18px 4px rgba(0, 0, 0, 0.7);
    }

    .homeBtn_style {
        font-size: 15px;
    }

    .btnStyle_dropdownBtn {
        min-width: auto;
        max-width: 100px;
        min-height: 30px;
        max-height: 40px;
    }

    .img_header_section {
        top: 20px;
        right: 30px;
        margin-right: 30px;
        margin-top: 30px;
        max-width: 85px;
        max-height: 100px;
        box-shadow: 3px 2px 2px 0px #000000c7, 2px 0px 6px 1px #ffffff94, 1px -2px 0px 0px #8e455c, 3px 2px 14px 9px rgb(189 90 123 / 79%), -2px -3px 4px 0px #000000, -10px -4px 9px 2px #613c3c6e, 2px 2px 10px 3px #fafafa, 0px 2px 9px 5px rgb(0 0 0 / 85%);
    }

    .main_section {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        max-width: 100%;
        min-height: auto;
        max-height: none;
        overflow: clip;
    }

    .nav_section {
        min-width: 100%;
        max-width: 100%;
        min-height: auto;
        max-height: 70px;
        background-color: rgba(0, 0, 255, 0.268);
    }

    .display_sectionMain {
        flex-direction: column;
        min-width: 100%;
        max-width: 100%;
        min-height: auto;
        max-height: none;
        /*align-items: center;*/
        /*justify-content: center;*/
    }

    .display_sectionCenter {
        min-width: 100%;
        max-width: none;
        min-height: auto;
        max-height: none;
    }

    .paragraph_mainStyle {
        min-width: auto;
        /*max-width: none;*/
        min-height: auto;
        max-height: 800px;
        /* max-width: 95%; */
        gap: 15px;
        margin: 20px auto;
        /*padding: 20px;*/
        overflow: scroll;
        box-shadow: none;
        border: none;
        align-items: center;
    }

    .display_sectionLeft,
    .display_sectionRight {
        max-width: 0;
        max-height: 0;
        display: none;
    }

    .contactBoxStyle {
        margin-left: 10px;
    }

    .contactBtnStyle {
        max-width: 240px;
        max-height: 40px;
    }

    .contact_imgChild_box {
        background-color: #373a43b5;
        justify-content: center;
    }

    .contact_box_mainSection {
        top: 175px;
        left: 35px;
        width: 365px;
        min-height: 660px;
        max-height: 710px;
        flex-direction: column;
    }

    .contactActive {
        top: 175px;
        left: 35px;
        width: 365px;
        min-height: 660px;
        max-height: 710px;
        flex-direction: column;
    }

    .contact_img_style {
        height: 100px;
        width: 100px;
    }

    .contact_img_style {
        justify-self: center;
        height: 350px;
        width: 300px;
        scale: 0.9;
        border: double 10px white;
        background-color: black;
    }

    .footer_section {
        background-position: center top -34px;
    }

    .footer_icon_section {
        max-width: 155px;
        max-height: 40px;
        gap: 15px;
        margin: 10px;
        background-color: #8e7cb6ab;
        border-radius: 50px;
        border: solid #ffffff 2px;
    }

}